
<div>
    <div class="comment">
    <div class="comment-heading">
        <div class="post-date">
                {{c.created.strftime("%B %d, %Y")}}
            </div>
            <div class="post-by">
                comment by: {{c.author}}
            </div>
            <div>
                {{c.content}}
            </div>
            <div>
                {{c.last_modified.strftime("%B %d, %Y")}}
            </div>
        </div>

        <div class="comment-content">
            {{c._render_text | safe}}
        </div>
        <div>
            <a class="modify-link" href="/blog/editcomment/{{c.key().id()}}"><button>Modify</button></a>
        </div>
    </div>
    </div>

